<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>stonix4mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF0EA83B1DCD10F90079D707</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF0EA84C1DCD10F90079D707</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF0EA8571DCD10F90079D707</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
